model:
  states: 52
  actions: 12
  weights_directory: weights/
  weights_to_load: il_actor_seed_weights.pt
  weights_prefix: behavior_cloning

ppo:
  epochs: 50         # Number of times to update the policy using the collected data
  batch_size: 64     # Size of mini-batch for gradient descent
  clip_epsilon: 0.2      # Clipping parameter (epsilon)
  gamma: 0.99            # Discount factor
  gae_lambda: 0.95       # GAE factor
  learning_rate: 0.0003               # Learning rate

behavior_cloning:
  batch_size: 64
  epochs: 400
  learning_rate: 0.0004
  dataset_path: ./booster_dataset/collected.npz
